@using chef_dish.Models
@model Dish
@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1 ><h2>YUM, take a  look at our tasty dishes! <a href="/AddDish" >Add a Dish</a></h2>
        </h1>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                
                <table class="table table-striped">
                    <tr>
                        <th> Name</th>
                        <th>Chef</th>
                        <th> Tastiness</th>
                        <th> Calories</th>
                    </tr>
                    @foreach(Dish d in ViewBag.AllDishes)
                    {
                        <tr>
                            <td>@d.name</td>
                            <td>@d.Preparer.firstname</td>
                            <td>@d.tastiness</td>
                            <td>@d.calories</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    </div>